/* NoMatch.css */
.no-match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #f8f8f8; /* A light background to make the message stand out */
    color: #ff6347; /* A bright color that matches your app's orange theme */
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .no-match-container .message {
    padding: 20px;
    border: 2px solid #ff6347;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .no-match-container .message a {
    display: block;
    margin-top: 20px;
    color: #ff6347;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
  }
  
  .no-match-container .message a:hover {
    text-decoration: underline;
  }
  